<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" -->
        <!-- integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <script defer src="handler.js"></script>
    <script defer src="solid.js"></script>
    <script defer src="fontawesome.js"></script>
    <title>VOC Mail Merge</title>
</head>

<body>
    <h1 id="title">Villanova Outdoors Club Mail Merge</h1>

    <section id="email">
        <div class="to" edited="false" contenteditable="true">
            <div class="label to-label">to</div>
        </div>
        <div class="subject" edited="false" contenteditable="true">
            <div class="label subject-label">subject</div>
        </div>
        <div class="editor" contenteditable="true"></div>
    </section>
    <section id="buttons">
        <ul id="toolbar">
            <li class="tool">
                <button type="button" data-command="send" class="tool-btn send">
                    Send Email <i class="fas fa-paper-plane"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" data-command="fontFamily" class="tool-btn">
                    <i class="fas fa-font"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" data-command="fontSize" class="tool-btn">
                    <i class="fas fa-text-height"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" data-command="bold" class="tool-btn">
                    <i class="fas fa-bold"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" data-command="italic" class="tool-btn">
                    <i class="fas fa-italic"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" data-command="underline" class="tool-btn">
                    <i class="fas fa-underline"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" data-command="strikeThrough" class="tool-btn">
                    <i class="fas fa-strikethrough"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" data-command="insertOrderedList" class="tool-btn">
                    <i class="fas fa-list-ol"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" data-command="insertUnorderedList" class="tool-btn">
                    <i class="fas fa-list-ul"></i>
                </button>
            </li>
            <li class="tool">
                <button type="button" data-command="createlink" class="tool-btn">
                    <i class="fas fa-link"></i>
                </button>
            </li>
        </ul>
    </section>
</body>

</html>